/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

.body {
    width: 100%;
    padding: 0;
    margin: 0;
}

/*=============== MAIN PAGE ===============*/

h1 {
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.2);
}

.recipe_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 23px 0 23px 23px;
    grid-gap: 23px;
    background: rgba(0, 0, 0, 0.5);
    width: 60vw;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
}

.grid_item {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 35vh;
    padding: 0 0 15px 15px;
    font-family: 'Roboto', sans-serif;
}

.food_images {
    width: 200px;
    height: 160px;
    border-radius: 6px;
    margin: 0 auto;
}

.food_images:hover {
    animation: food_images.6s;
  }
  
  @keyframes food_images{
    0%{
      transform: translate(0);
    }
    20%{
      transform: translate(-6px);
    }
    40%{
      transform: translate(0);
    }
    60%{
      transform: translate(-3px);
    }
    80%{
      transform: translate(0);
    }
  }

.recipe_name {
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.recipe_name:hover {
    color: white
}

/*=============== DETAIL PAGE ===============*/
.details_modal {
    width: 55%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 5px 10px 15px;
    margin: 0 auto;
    margin-top: 23vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.details_body {
    display: flex;
}

.details_short,
.details_long {
    padding: 8px;
}

.details_short img {
    border-radius: 8px;
}

/*=============== LOGIN ===============*/

.auth_modal {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 5px 10px 15px;
  margin: 10px auto;
  margin-top: 23vh;
  font-family: 'Roboto Mono', 'Calibri', 'Trebuchet MS', sans-serif;
}

#error_login {
  margin: 0 auto;
  border: 3px solid rgb(243, 0, 0);
  background-color: rgb(255, 116, 32);
  padding: 10px;
  border-radius: 10px;
}

.form_input {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login_btn,
.logout_btn,
.back-home_btn {
  width: 70px;
  font-family: 'Roboto Mono', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  background-color: rgb(255, 116, 32);
  border-radius: 5px;
  /* border: 0px; */
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.back-home_btn {
  background-color: rgb(123, 49, 33);
}

.login_btn:hover,
.logout_btn:hover,
.back-home_btn:hover {
  filter: brightness(125%);
  transition: 200ms; 
}